.page {
  background-color: var(--primary-color);
}

.pageDiv {
  margin: 0 auto;
  max-width: 1000px;
}

.pageTitle {
  text-transform: uppercase;
  margin: 1em 0;
  letter-spacing: 2px;
  color: #4a4a4a;
  text-align: center;
}

#searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 250px;
  background-color: var(--secondary-color);
  padding-top: 7px;
  padding-right: 25px;
  padding-bottom: 7px;
  padding-left: 25px;
  border-radius: 25px;
  border-width: 1.5px;
  border: 1.5px solid #b5b1b1;
  box-shadow: inset 0 0 8px #adb5bd;
}

#search {
  border: none;
  text-align: center;
  letter-spacing: 1px;
  background-color: var(--secondary-color);
  max-width: 170px;
  font-size: 20px;
}

::placeholder {
  color: #7b7b7b;
}

.searchImage {
  width: 20px;
  height: 20px;
}

.cardContainer {
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 135px;
  margin-top: 80px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 62px 0 65px 0;
}

.card {
  background-color: var(--secondary-color);
  border-radius: 4px;
  box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  height: 367px;
  width: 300px;
  justify-content: space-between;
  justify-self: center;
  padding: 115px 32px 32px;
  position: relative;
  transition: all 0.3s;
}

.card:hover {
  box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.32);
  transition: all 0.3s;
}

.cardImage {
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15),
    0 2px 20px 0 rgba(13, 34, 30, 0.3);
  display: block;
  height: 180px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: -50%;
  transform: translateY(50%) translateX(-50%);
  width: 270px;
}

.cardTitle {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  color: #4a4a4a;
  font-size: 20px;
  padding-bottom: 3px;
  margin: 0;
}

.category {
  display: flex;
  border-bottom: 1px solid #cbcaca;
}

.categoryTitle {
  text-transform: uppercase;
  font-size: 17px;
  color: #7b7b7b;
  margin-right: 7px;
  margin-bottom: 2px;
}

.categoryImage {
  width: 22px;
  height: 22px;
}

.dateLocation {
  color: #4a4a4a;
  font-weight: 500;
}

.location {
  margin: 13px 0 2px 0;
}

.priceButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price {
  color: #dc3545;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 0;
}

.button {
  letter-spacing: 1.1px;
  border-width: 1.5px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
  border-radius: 25px;
  padding-top: 13px;
  padding-right: 32px;
  padding-bottom: 13px;
  padding-left: 32px;
  font-size: 0.93em;
  margin-top: 2px;
  width: 210px;
}

@media only screen and (max-width: 900px) {
  .cardContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 630px) {
  .cardContainer {
    grid-template-columns: auto;
  }

  .pageTitle {
    text-transform: uppercase;
    margin: 1em 0;
    letter-spacing: 2px;
    color: #4a4a4a;
    text-align: center;
  }
  .asd {
    padding: 0 10px 0 10px;
  }
}
