.Carousel {
  margin: 0 auto;
}

.rest {
  margin: 0 auto;
  max-width: 1000px;
}

.divCarousel {
  box-shadow: 0 0 200px 7px rgba(225, 226, 228, 0.7);
  z-index: 1;
  background-color: var(--secondary-color);
}

.crouselImage {
  width: 100%;
  height: 470px;
}

.divRest {
  background-color: var(--primary-color);
}

.rest {
  padding: 2em 0em;
}

.categoryTitle {
  text-transform: uppercase;
  text-align: center;
  padding: 0.4em 0;
  letter-spacing: 3px;
  margin-bottom: 0.5em;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0;
  margin-bottom: 1.5em;
}

.cardImage {
  width: 50%;
  height: 80%;
  object-fit: fill;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  transition: all 1s ease;
}

.card:hover {
  background-color: var(--secondary-color);
  transform: scale(1.05);
  z-index: 1;
  box-shadow: 0 0 20px 7px rgba(230, 231, 233, 0.5);
}

.category {
  text-transform: uppercase;
  margin-top: 0.5em;
  letter-spacing: 1.3px;
}

.categoryDescription {
  text-align: center;
}

.categoryButton {
  letter-spacing: 1.1px;
  border-width: 1.5px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
  border-radius: 25px;
  padding-top: 18px;
  padding-right: 32px;
  padding-bottom: 18px;
  padding-left: 32px;
  font-size: 0.93em;
  margin-top: 1em;
}

#kultura {
  color: #3d8c32;
}

#sport {
  color: rgba(0, 123, 255, 0.72);
}

#film {
  color: #8e1a1a;
}

@media screen and (max-width: 731px) {
  .cardContainer {
    grid-template-columns: auto;
    justify-items: center;
    grid-row-gap: 2.5em;
  }

  .card:hover {
    background-color: var(--primary-color);
    transform: scale(1);
    z-index: 0;
    box-shadow: none;
  }

  .categoryTitle {
    font-size: 1.7rem;
    letter-spacing: 0;
  }

  .crouselImage {
    width: 100%;
    height: 400px;
  }
}

@media screen and (max-width: 500px) {
  .crouselImage {
    width: 100%;
    height: 325px;
  }

  .card {
    padding: 1.5em 4em;
  }
}
