.card {
  width: 300px;
}
.card:hover {
  transform: scale(1.05);
  background-color: yellowgreen;
}
#a {
  width: 300px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 575px) {
  .card-deck {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
