.Circle {
  border-radius: 50%;
  width: 350px;
  line-height: 100px;
  border: 1.5px solid #fbcfce;
  margin: 40px;
  text-align: center;
  float: left;
  box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.25);
  transition: all 1s ease;
}
.Circle:hover {
  box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
  transform: scale(1.05);
  z-index: 1;
}
.pageDiv {
  margin: 0 -10px 0 100px;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.blogLink {
  padding-bottom: 30px;
  display: inline-block;
  color: #cc5200;
  /* text-decoration: overline; */
  text-transform: uppercase;
  transition: all 0.25s linear 0s;
  padding-right: 50px;
  padding-left: 50px;
  font-size: 1.3vw;
  font-weight: 600;
}
.naslov {
  margin-top: 50px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.05em;
  font-weight: 800;
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.9);
}
.link:hover {
  text-decoration: underline;
  text-decoration-color: #179add;
  color: #179add;
}

.link:visited {
  color: #003e80;
}

.link:visited:hover {
  color: #003e80;
  text-decoration-color: #003e80;
}

.pageTitle {
  text-transform: uppercase;
  margin: 1em 0;
  letter-spacing: 2px;
  color: #4a4a4a;
  text-align: center;
}
@media only screen and (max-width: 900px) {
  .pageDiv {
    grid-template-columns: 1fr 1fr;
  }
  .Circle {
    max-width: 320px;
    margin: 40px 10px;
  }
}
@media screen and (max-width: 731px) {
  .pageDiv {
    grid-template-columns: auto;
    margin: 0 auto;
  }
  .blogLink {
    font-size: 3.8vw;
  }
  .naslov {
    margin-top: 20px;
  }
  .Circle {
    max-width: 275px;
    margin: 40px 10px;
  }
  .layDiv {
    padding: 0 1em;
  }
  .pageTitle {
    text-transform: uppercase;
    margin: 1em 0;
    letter-spacing: 2px;
    color: #4a4a4a;
    text-align: center;
  }
}
