.page {
  background-color: var(--primary-color);
}

.pageDiv {
  margin: 0 auto;
  max-width: 1000px;
}

.pageTitle {
  text-transform: uppercase;
  padding: 1em 0 1em 1.3em;
  letter-spacing: 2px;
  margin-bottom: 0;
  color: #4a4a4a;
}

.media {
  padding: 3em 3em 3.5em 3em;
  margin-bottom: 75px !important;
  box-shadow: 0 0.25rem 0.625rem 0 rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  background-color: var(--secondary-color);
  display: grid;
  /* grid-template-columns: auto auto; */
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 30px;
  margin-bottom: 18px;
  max-height: 645px;
}

.slika1 {
  max-width: 100%;
  height: 300px;
}

.slika2 {
  max-width: 155px;
  height: 95px;
}

.media-left {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}
.modalMainImage {
  height: 190px;
  max-width: 100%;
}
.media-heading {
  margin-top: 20px !important;
}
.secondMedia {
  margin-bottom: 10px;
  border-bottom: 1px solid var(--primary-color);
}

#last {
  border-bottom: none;
}

.link:hover {
  text-decoration: underline;
  text-decoration-color: #179add;
  color: #179add;
}

.button {
  letter-spacing: 1.1px;
  border-width: 1.5px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
  border-radius: 25px;
  padding-top: 13px;
  padding-right: 32px;
  padding-bottom: 13px;
  padding-left: 32px;
  font-size: 0.93em;
  margin-top: 2px;
  width: 130px;
  background-color: var(--secondary-color);
  color: #179add;
  border: 1.5px solid #179add;
}

.button:hover {
  outline: 0 !important;
  background-color: #179add;
  color: var(--secondary-color);
  border-color: #179add;
}

.button2 {
  letter-spacing: 1.1px;
  border-width: 1.5px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
  border-radius: 25px;
  padding-top: 13px;
  padding-right: 32px;
  padding-bottom: 13px;
  padding-left: 32px;
  font-size: 0.93em;
  margin-top: 2px;
  width: 130px;
  background-color: var(--secondary-color);
  color: #003e80;
  border: 1.5px solid #003e80;
}

.button2:hover {
  outline: 0 !important;
  background-color: #003e80;
  color: var(--secondary-color);
  border-color: #003e80;
}

.subText {
  display: none;
}

@media screen and (max-width: 731px) {
  .media {
    grid-template-columns: auto;
    justify-items: center;
    max-height: none;
    padding: 3em 0.5em 3em 0.5em;
  }
  .pageTitle {
    text-transform: uppercase;
    padding: 1em 0;
    letter-spacing: 2px;
    margin-bottom: 0;
    color: #4a4a4a;
    text-align: center;
  }
  .subText {
    display: block;
  }
  .subTekst {
    display: none;
  }
  .slika1 {
    max-width: 100%;
    height: 270px;
  }
  .left {
    border-bottom: 1px solid var(--primary-color);
  }
}
