.page {
  background-color: #ffff33;
}

.pageDiv {
  margin: 0 auto;
  max-width: 1000px;
}

.pageTitle {
  text-transform: uppercase;
  padding: 1em 0 1em 1.3em;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.media {
  padding: 3em 3em 3.5em 3em;
  margin-bottom: 75px !important;
  box-shadow: 0 0.25rem 0.625rem 0 rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  background-color: #eef6fa;
  display: grid;
  /* grid-template-columns: auto auto; */
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 30px;
  margin-bottom: 18px;
  max-height: 620px;
}

.slika1 {
  max-width: 100%;
  height: 300px;
}

.slika2 {
  width: 110px;
  height: 80px;
}

.media-left {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}
.modalMainImage {
  height: 190px;
  width: 466px;
}
.media-heading {
  margin-top: 20px !important;
}
.secondMedia {
  margin-top: 17px;
  margin-bottom: 17px;
}
