/* .header {
  display: flex;
  justify-content: space-between;
} */

.navbar {
  height: 85px;
  display: flex;
  justify-content: space-around;
  background-color: #f1f0f6;
}
.navbarNames {
  display: flex;
  justify-content: space-around;
}
/* @media screen and (max-width: 575px) {
  .restnavbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    left: 0;
  }
} */

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* display: grid;
  grid-template-columns: 1fr 2fr; */
}

.logoImg {
  width: 4vw;
}

.logoName {
  align-self: center;
  padding: 0.2em;
  font-size: 2vw;
}

.navbarName {
  font-size: 1.3vw;
  font-weight: 600;
}

.input {
  display: grid;
  grid-template-columns: 0.7fr 0.7fr 0.5fr;
  grid-gap: 10px;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
}

.button {
  width: 88px;
  background-color: lightseagreen;
  border: none;
}

/* .button:hover {
  background-color: lightseagreen;
} */
