@media screen and (max-width: 575px) {
  .restnavbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    left: 0;
  }
}

.logo {
  display: flex;
  flex-direction: row;
}

.logoImg {
  width: 15%;
}

.logoName {
  align-self: center;
  padding: 0.2em;
}

.navbarName {
  font-size: 2em;
}
