/* .header {
  display: flex;
  justify-content: space-between;
} */

.navbar {
  height: 85px;
  display: flex;
  justify-content: space-around;
  /* background-color: #f7f7f9; */
  /* box-shadow: 0 0 50px 17px rgba(225, 226, 228, 0.7); */
  background-color: var(--secondary-color);

  box-shadow: 0 0 20px 7px #e7f3f9;
  /* box-shadow: 0 0 50px 17px #e7f3f9; */
  /* background-color: #f1f0f6; */
  /* border-bottom: 1px solid #ced4da; */
}
.navbarNames {
  display: flex;
  justify-content: space-around;
}
/* @media screen and (max-width: 575px) {
  .restnavbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    left: 0;
  }
} */

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* display: grid;
  grid-template-columns: 1fr 2fr; */
}

.logoImg {
  width: 4vw;
}

.logoName {
  align-self: center;
  padding: 0.2em;
  font-size: 2vw;
  /* letter-spacing: 1.1px; */
  color: var(--primary-color);
  text-shadow: -1px 0 lightgrey, 0 1px lightgrey, 1px 0 lightgrey,
    0 -1px lightgrey;
}

.navbarName {
  font-size: 1.3vw;
  font-weight: 600;
  /* letter-spacing: 0.8px; */
  margin: 0px 16px 0px 0px;
  padding: 5px 0px;
  color: rgba(0, 0, 0, 0.9);
}

.input {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
}

.button {
  min-width: 88px;
  max-width: 130px;
  background-color: lightseagreen;
  border: none;
}

.button2 {
  min-width: 88px;
  max-width: 130px;
  padding: 0em 0.2em;
  /* border-radius: 10px; */
  /* letter-spacing: 1.1px; */
  border-width: 1.5px;
  text-transform: uppercase;
  /* font-weight: 500; */
  line-height: 1;
  border-radius: 25px;
  /* padding-top: 18px; */
  /* padding-right: 32px; */
  /* padding-bottom: 18px; */
  /* padding-left: 32px; */
  /* font-size: 0.93em; */
  /* margin-top: 1em; */
  /* text-align: center; */
}

.button2 ~ .btn-outline-info {
  color: red;
}
/* .button:hover {
  background-color: lightseagreen;
} */

.mail,
.lozinka {
  min-width: 80px;
  max-width: 130px;
}

.navbarName__active {
  /* text-decoration: underline; */
  color: green;
}

.navbarName:hover {
  color: green;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .input {
    display: none;
  }

  /* #inputBottom {
    position: fixed;
    bottom: 0;
    width: 100%;
  } */

  .navbarNames {
    display: none;
  }

  .navbar {
    height: 67px;
    justify-content: center;
  }

  .logoImg {
    width: 50px;
  }

  .logoName {
    font-size: 1.3em;
    margin-top: 3px;
  }

  .logo {
    padding-top: 0;
    padding-bottom: 0;
  }
}
