:root {
  --beige: #f3e9d2;
  --black: #000000;
  --grey: #beb5b59d;
  --blue: #16bac5;
  --red: rgb(223, 49, 69);
  --white: #ffffff;
  --padding: 10px;
}

.Header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  position: sticky;
  background: var(--white);
  border-bottom: 1px solid var(--grey);
  margin-bottom: 30px;
}

.Container {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-areas:
    "header-img aside-top"
    "header-img aside-bottom";
}

.Logo {
  grid-area: header-img;
}

.Img {
  cursor: pointer;
  width: 30vw;
  max-width: 392px;
}

.Aside_top {
  grid-area: aside-top;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 5px 0 0;
  box-sizing: border-box;
}

.Label_user {
  color: var(--red);
  font-size: 17pt;
}

.Aside_bottom {
  grid-area: aside-bottom;
}

.Navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.Links {
  font-size: 19pt;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
  margin: 0 4px;
}

.Div {
  padding: 10px 5px 0 5px;
}
.DivAbout {
  padding: 10px 5px 0 5px;
}

.Links:first-child {
  margin-left: 10px;
}

.Links:nth-child(5) {
  color: rgb(23, 157, 167);
}

.Links:last-child {
  color: rgb(23, 157, 167);
}

.Links__active {
  text-decoration: underline;
}

.Links:hover {
  color: var(--red);
}

@media screen and (max-width: 530px) {
  .Container {
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "header-img aside-top"
      "aside-bottom aside-bottom";
  }
  .Img {
    width: 45vw;
  }
  .Account_img {
    width: 30px;
    height: 30px;
  }
  .Label_user {
    font-size: 9pt;
  }
  .Header {
    margin-bottom: 5px;
  }
  .Links {
    font-size: 10pt;
    margin: 0 2px;
  }
  .Navigation {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    box-sizing: border-box;
    margin: 0 2px;
  }
  .DivAbout {
    display: none;
  }
}
@media screen and (min-width: 530px) and (max-width: 760px) {
  .Container {
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "header-img aside-top"
      "aside-bottom aside-bottom";
  }
  .Img {
    width: 45vw;
  }
  .Label_user {
    font-size: 11pt;
  }
  .Header {
    margin-bottom: 10px;
  }
  .Links {
    font-size: 13pt;
  }
  .Navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
    margin: 0 5px;
  }
}
@media screen and (min-width: 760px) and (max-width: 860px) {
  .Header {
    margin-bottom: 10px;
  }
  .Label_user {
    font-size: 12pt;
  }
  .Navigation {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    box-sizing: border-box;
  }
  .Links {
    margin: 0 5px;
    font-size: 14pt;
  }
  .Container {
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "header-img aside-top"
      "aside-bottom aside-bottom";
  }
}
@media screen and (min-width: 860px) and (max-width: 1120px) {
  .Header {
    margin-bottom: 10px;
  }
  .Label_user {
    font-size: 12pt;
  }
  .Navigation {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    box-sizing: border-box;
  }
  .Links {
    margin: 0 5px;
    font-size: 14pt;
  }
}
@media screen and (min-width: 1120px) and (max-width: 1160px) {
  .Header {
    margin-bottom: 15px;
  }
  .Navigation {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    box-sizing: border-box;
  }
  .Links {
    margin: 0 5px;
    font-size: 18pt;
  }
}
@media screen and (min-width: 1160px) {
  .Header {
    margin-bottom: 20px;
  }
  .Navigation {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    box-sizing: border-box;
  }
  .Links {
    margin: 0 9px;
  }
}
